$primary: hsl(158, 36%, 37%);
$font-family-base: "font-family: 'Montserrat', sans-serif";
$secondary: hsl(30, 38%, 92%);
$lead-font-size:  $font-size-base * 1.1429;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

@import "../node_modules/bootstrap/scss/bootstrap";